@charset "utf-8";

/* CSS document defining the base rules for all elements on my website. */

* {
	
	margin: 0px;
	max-width: 100%;
	box-sizing: border-box;	
	overflow-x: none;
	
}

html, body {
	
	height: 100%;
	
}

#background_canvas {
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	
}

#bg {
		
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
		
}