@charset "utf-8";

/* CSS document defining the core design elements for the website. */

body {
	
	background-color: #181818;
	/*background-color: #0b518e;*/
	
}

.content {

	background-color: #242424;

}

p, h2, h4, #dropbtn {

	color: azure;
	font-family: 'VT323', monospace;

}

.curved {
	
	border-radius: 5px;
	
}

.colourPrimary {
	
	/*color: #3d94ff;*/
	color: #2a91eb;
}

.colourSecondary {
	
	/*color: #3a8df2;*/
	color: #3b98eb;
	
}